@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  line-height: 1.6; 
}

$carousel-item-width: 300px; 
$carousel-item-horizontal-margin: 30px; 

.carousel-container {
  overflow: hidden; 
  position: relative; 

  .carousel-controls {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: space-between; 
    box-sizing: border-box;

    div.btn-move {
      display: inline-block; 
      cursor: pointer; 
      width: 25%; 

      &.btn-move-prev {
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,transparent 100%); 
        
        &:hover {
          background: linear-gradient(to right, rgba(255,255,255,0.3) 0%,transparent 100%); 
        }
      }

      &.btn-move-next {
        background: linear-gradient(to right, transparent,rgba(255,255,255,1) 100%); 

        &:hover {
          background: linear-gradient(to right, transparent,rgba(255,255,255,0.3) 100%); 
        }
      }
    }
  }
}

.items-wrapper {
  display: flex; 
  margin-left: calc(50% - #{($carousel-item-width / 2) + $carousel-item-horizontal-margin}); 
  align-items: center; 

  .title {
    font-size: 36px; 
    line-height: 1.3; 
    letter-spacing: -0.05rem;
  }

  .desc {
    color: #bbb;
    margin-top: 10px; 
    font-size: 20px; 
  }

  > * {
    color: black; 
    width: $carousel-item-width; 
    margin: 0 $carousel-item-horizontal-margin; 
    box-sizing: border-box; 
    padding: 40px 20px; 
    flex-shrink: 0; 
    text-align: center; 
  }

  > *:nth-child(even) {
    padding-top: 60px; 
    padding-bottom: 60px; 
  }
}

